In [1]:
import nltk, csv, numpy as np, pandas as pd
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [2]:
sentence = pd.read_excel("data_in.xlsx")

In [3]:
type(sentence)

pandas.core.frame.DataFrame

In [4]:
sentence.head()

                                             Comment
0  "Hello there, how are you? Weather is awesome....
1  "Hello Mr. Raja, how are you? Weather is aweso...
2  "Hello Mr. Raja, how are you. Weather is bad. ...
3  "NLP is great technique. It is nice to learn t...
4  "AI is making difference in this world now.  I...

In [5]:
v1 = lambda x:str(x)

In [6]:
sentence = sentence.apply(v1)

In [7]:
type(sentence)

pandas.core.series.Series

In [8]:
for i in sentence:
    token = sent_tokenize(i)
    print(token)

['0    "Hello there, how are you?', 'Weather is awesome....\n1    "Hello Mr. Raja, how are you?', 'Weather is aweso...\n2    "Hello Mr. Raja, how are you.', 'Weather is bad.', '...\n3    "NLP is great technique.', 'It is nice to learn t...\n4    "AI is making difference in this world now.', 'I...\nName: Comment, dtype: object']

In [9]:
type(token)

list

In [10]:
df_token = pd.DataFrame(token)

In [11]:
df_token

                                                   0
0                    0    "Hello there, how are you?
1  Weather is awesome....\n1    "Hello Mr. Raja, ...
2  Weather is aweso...\n2    "Hello Mr. Raja, how...
3                                    Weather is bad.
4                 ...\n3    "NLP is great technique.
5  It is nice to learn t...\n4    "AI is making d...
6                 I...\nName: Comment, dtype: object

In [12]:
df_token.to_csv("data_out.csv")

In [13]:
from nltk.chunk import ne_chunk
from nltk.tag import pos_tag

In [14]:
chunk_sentence = ne_chunk(pos_tag(token))

In [15]:
print (chunk_sentence)

(S
  0    "Hello there, how are you?/CD
  Weather is awesome....
1    "Hello Mr. Raja, how are you?/NNP
  Weather is aweso...
2    "Hello Mr. Raja, how are you./NNP
  Weather is bad./NNP
  ...
3    "NLP is great technique./NNP
  It is nice to learn t...
4    "AI is making difference in this world now./NNP
  I...
Name: Comment, dtype: object/NNP)