In [1]:
import nltk, csv, numpy as np, pandas as pd
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [2]:
sentence = pd.read_excel("data_in.xlsx")

In [3]:
type(sentence)

pandas.core.frame.DataFrame

In [4]:
sentence.head()

                                             Comment
0  "Hello there, how are you? Weather is awesome....
1  "Hello Mr. Raja, how are you? Weather is aweso...
2  "Hello Mr. Raja, how are you. Weather is bad. ...
3  "NLP is great technique. It is nice to learn t...
4  "AI is making difference in this world now.  I...

In [5]:
v1 = lambda x:str(x)

In [6]:
sentence = sentence.apply(v1)

In [7]:
type(sentence)

pandas.core.series.Series

In [8]:
for i in sentence:
    token = word_tokenize(i)
    print(token)

['0', '``', 'Hello', 'there', ',', 'how', 'are', 'you', '?', 'Weather', 'is', 'awesome', '...', '.', '1', '``', 'Hello', 'Mr.', 'Raja', ',', 'how', 'are', 'you', '?', 'Weather', 'is', 'aweso', '...', '2', '``', 'Hello', 'Mr.', 'Raja', ',', 'how', 'are', 'you', '.', 'Weather', 'is', 'bad', '.', '...', '3', '``', 'NLP', 'is', 'great', 'technique', '.', 'It', 'is', 'nice', 'to', 'learn', 't', '...', '4', '``', 'AI', 'is', 'making', 'difference', 'in', 'this', 'world', 'now', '.', 'I', '...', 'Name', ':', 'Comment', ',', 'dtype', ':', 'object']

In [9]:
type(token)

list

In [10]:
df_token = pd.DataFrame(token)

In [11]:
df_token

             0
0            0
1           ``
2        Hello
3        there
4            ,
5          how
6          are
7          you
8            ?
9      Weather
10          is
11     awesome
12         ...
13           .
14           1
15          ``
16       Hello
17         Mr.
18        Raja
19           ,
20         how
21         are
22         you
23           ?
24     Weather
25          is
26       aweso
27         ...
28           2
29          ``
..         ...
47       great
48   technique
49           .
50          It
51          is
52        nice
53          to
54       learn
55           t
56         ...
57           4
58          ``
59          AI
60          is
61      making
62  difference
63          in
64        this
65       world
66         now
67           .
68           I
69         ...
70        Name
71           :
72     Comment
73           ,
74       dtype
75           :
76      object

[77 rows x 1 columns]

In [12]:
df_token.to_csv("data_out.csv")